<nav class="toolbar">
	<ul class="toolbar__group">
		<li>
			<a>Backend</a>
			<ul class="toolbar__group-sub">
				<li><a href="/backend/">Dashboard</a></li>
			</ul>
		</li>
		<li>
			<a>Posts</a>
			<ul class="toolbar__group-sub">
				<li><a href="?controller=Post&action=list">Overview</a></li>
				<li><a href="?controller=Post&action=new">New post</a></li>
			</ul>
		</li>
		<li>
			<a>Category</a>
			<ul class="toolbar__group-sub">
				<li><a href="?controller=Category&action=list">Overview</a></li>
				<li><a href="?controller=Category&action=new">New category</a></li>
			</ul>
		</li>
		<li>
			<a>Pages</a>
			<ul class="toolbar__group-sub">
				<li><a href="?controller=Page&action=list">Overview</a></li>
				<li><a href="?controller=Page&action=new">New page</a></li>
			</ul>
		</li>
		<li>
			<a>Plugins</a>
			<ul class="toolbar__group-sub">
				<li><a href="?controller=Plugin&action=list">Overview</a></li>
				<li><a href="?controller=Plugin&action=install">Install plugin</a></li>
			</ul>
		</li>
		<li>
			<a>Admin</a>
			<ul class="toolbar__group-sub">
				<li><a href="?controller=Backend&action=settings">Blog settings</a></li>
				<li><a href="?controller=Theme&action=list">Themes</a></li>
			</ul>
		</li>
	</ul>
</nav>
