body {
	background: #ddd;
	margin: 0;
	padding: 0;
}

.content {
	background: #fff;
	margin: 0 auto;
	padding: 0 5%;
	width: 80%;
}

.content__container {
	overflow: hidden;
}

.content__container article,
.content__container aside {
	float: left;
}

.content__container article {
	width: 75%;
}

.content__container aside {
	width: 23%;
}
