<article id="{post.id}">
	<h2>
		<f:if condition="{settings.action} == 'show'">
			<f:then>
				{post.title}
			</f:then>
			<f:else>
				<a href="index.php?action=show&post={post.id}">{post.title}</a>
			</f:else>
		</f:if>
	</h2>
	<div class="article__teaser">
		{post.teaser}
	</div>
	<footer>
		<span class="article__date"><f:format.date format="d.m.Y">{post.crdate}</f:format.date></span>
		<f:if condition="{settings.action} == 'show'">
			<a href="/" class="back">Zurück zur Übersicht</a>
		</f:if>
	</footer>
</article>
